a[data-action="search-anchor"] {
  cursor: pointer;
}

.typecho-access-logs-btn { border: none; background-color: #E9E9E6; cursor: pointer; border-radius: 2px; display: inline-block; padding: 0 12px; height: 32px; color: #666; vertical-align: middle; zoom: 1; }
.typecho-access-logs-btn:focus { outline:0; }
.typecho-access-logs-btn:hover { transition-duration: .4s; background-color: #dbdbd6; }
.typecho-access-logs-btn:active { background-color: #d6d6d0; }
.typecho-access-logs-btn:disabled { background-color: #f7f7f6; cursor: default; }
.typecho-access-logs-btn:disabled { color: #999; }
.typecho-access-logs-btn--xs { padding: 0 10px; height: 25px; font-size: 13px; }
.typecho-access-logs-btn--s { height: 28px; font-size: 14px; }
.typecho-access-logs-btn--l { height: 40px; font-size: 1.14286em; font-weight: bold; }
.typecho-access-logs-btn--primary { border: none; background-color: #467B96; cursor: pointer; border-radius: 2px; color: #FFF; }
.typecho-access-logs-btn--primary:hover { transition-duration: .4s; background-color: #3c6a81; }
.typecho-access-logs-btn--primary:active, .typecho-access-logs-btn--primary.typecho-access-logs-btn--active { background-color: #39647a; }
.typecho-access-logs-btn--primary:disabled { background-color: #508cab; cursor: default; }
.typecho-access-logs-btn--warn { border: none; background-color: #B94A48; cursor: pointer; border-radius: 2px; color: #FFF; }
.typecho-access-logs-btn--warn:hover { transition-duration: .4s; background-color: #a4403f; }
.typecho-access-logs-btn--warn:active, .typecho-access-logs-btn--warn.typecho-access-logs-btn--active { background-color: #9c3e3c; }
.typecho-access-logs-btn--warn:disabled { background-color: #c1605e; cursor: default; }

.typecho-access-logs-main {
  margin: 10px 0;
  padding: 20px 0;
  color: #000000;
  background: #ffffff;
}

.typecho-access-logs-controls {
  display: flex;
  justify-content: space-between;
  padding: 5px 28px;
}

.typecho-access-logs-controls__left {
  display: flex;
  align-items: center;
}

.typecho-access-logs-controls__right {
  display: flex;
  align-items: center;
}

.typecho-access-logs-select-all {
  margin: 0;
  cursor: pointer;
  display: flex;
  justify-content: center;
}

.typecho-access-logs-search {
  position: relative;
}

.typecho-access-logs-search > *:not(:last-child) {
  margin-right: 5px;
}

.typecho-access-logs-dropdown {
  display: inline-block;
  position: relative;
}

.typecho-access-logs-dropdown-toggle {
  padding-right: 8px;
}

.typecho-access-logs-dropdown-btn {
  display: flex;
  align-items: center;
}

.typecho-access-logs-dropdown-btn__icon {
  transition: all ease-in-out .3s;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  flex: 0 0 auto;
  height: 100%;
  margin-left: 5px;
}

.typecho-access-logs-dropdown-btn__icon > i {
  transform: translateY(20%);
}

.typecho-access-logs-dropdown--active > .typecho-access-logs-dropdown-toggle > .typecho-access-logs-dropdown-btn__icon {
  transform: rotateZ(180deg);
}

.typecho-access-logs-dropdown-content {
  position: absolute;
  margin-top: 1px;
  min-width: 73px;
  border: none;
  padding: 0 !important;
  display: block;
  opacity: 0;
  list-style-type: none;
  pointer-events: none;
  transition: opacity ease-out .3s !important;
}

.typecho-access-logs-dropdown-content > li {
  background: #e9e9e6;
  position: relative;
}

.typecho-access-logs-dropdown-content > li > button {
  border-radius: 0;
  width: 100%;
}

.typecho-access-logs-dropdown--active > .typecho-access-logs-dropdown-toggle + .typecho-access-logs-dropdown-content {
  opacity: 1;
  pointer-events: all;
}

.typecho-access-logs-filter {
  position: absolute;
  top: 100%;
  right: 0;
  background: #f6f6f3;
  padding: 10px 20px;
  margin-top: 2px;
  border: 1px solid #e9e9e6;
  width: 400px;
  pointer-events: none;
  opacity: 0;
  transition: opacity ease-in-out 0.3s;
}

.typecho-access-logs-filter--visible {
  pointer-events: unset;
  opacity: 1;
}

.typecho-access-logs-filter-item {
  margin: 5px 10px;
  display: flex;
}

.typecho-access-logs-filter-item > :first-child,
.typecho-access-logs-filter-item__label {
  display: block;
  flex: 0 0 auto;
  width: 100px;
  display: flex;
  align-items: center;
}

.typecho-access-logs-filter-item > :last-child,
.typecho-access-logs-filter-item__content {
  flex: 1 1 auto;
}

select.typecho-access-logs-filter-item__content {
  width: 100%;
}

.typecho-access-logs-filter-apply {
  padding: 15px 10px 10px;
  display: flex;
  justify-content: space-between;
}

.typecho-access-logs-filter-apply > div {
  flex: 0 0 auto;
}

.typecho-access-logs-filter-apply > *:not(:last-child) {
  margin-right: 20px;
}

.typecho-access-logs-filter-apply__btn {
  flex: 0 0 auto;
}

.typecho-access-logs-filter-apply__btn + .typecho-access-logs-filter-apply__btn {
  margin-left: 10px;
}

.typecho-access-logs-table-wrap {
  padding: 20px 30px;
  background-color: #ffffff;
  color: #000000;
}

.typecho-access-logs-list-table-title {
  margin: 20px 0;
  opacity: .7;
  text-align: center;
  font-size: 14px;
  line-height: 1.5;
  font-weight: 600;
}

.typecho-access-logs-list-table {
  width: 100%;
  border-collapse: collapse;
  table-layout: fixed;
  line-height: 1.5;
}

.typecho-access-logs-list-table th {
  padding: 10px;
  border-bottom: 2px solid #f0f0ec;
  text-align: left;
  background-color: #ffffff;
}

.typecho-access-logs-list-table td {
  padding: 10px;
  border-top: 1px solid #efefeb;
  word-break: break-all;
  background-color: #ffffff;
}

.typecho-access-logs-list-table-select-all {
  width: 15px;
  height: 15px;
  cursor: pointer;
}

.typecho-access-logs-table-placeholder {
  font-size: 18px;
  color: #cccccc;
  font-weight: normal;
  letter-spacing: 3px;
}

.typecho-access-logs-list-checkbox {
  width: 15px;
  height: 15px;
  cursor: pointer;
}

.typecho-access-logs-pagination {
  list-style: none;
  float: right;
  margin: 0;
  padding: 0;
  line-height: 1;
  text-align: center;
  zoom: 1;
}

.typecho-access-logs-pagination li {
  display: inline-block;
  margin: 0 3px;
  height: 28px;
  line-height: 28px;
}

.typecho-access-logs-pagination li.current a {
  background: #E9E9E6;
  color: #444;
}

.typecho-access-logs-pagination a {
  display: block;
  padding: 0 10px;
  border-radius: 2px;
}

.typecho-access-logs-pagination-jump {
  float: right;
  display: flex;
  align-items: center;
  margin-left: 10px;
}

.typecho-access-logs-pagination-jump__number {
  width: 50px;
  text-align: center;
}

.typecho-access-logs-pagination-jump__text {
  padding-left: 5px;
}

.typecho-access-logs-pagination-jump__total {
  padding-left: 5px;
}

.typecho-access-logs-pagination-item {
  cursor: pointer;
}
